*{
    box-sizing: border-box; 
}






label {
  cursor: pointer;
  &:before{
    display: inline-block;
    content: "+";  
    margin: 0 10px 0 0;  
	width: 35px;
	height: 35px; 
    border: 3px solid #FE7F32; 
	border-radius: 100%;
    vertical-align: middle;
    color: #FE7F32; 
    font-size: 30px; 
    text-align: center;
    font-weight: 700;
    line-height: 0.9em;
    transition: transform 0.2s ease-in-out;
  }  
}

input[type=checkbox]:checked + label:before{
   background: #FE7F32; 
   color: #fff;
   transform:rotate(135deg);
   transform-origin: center center;
}

input[type=checkbox] { visibility: hidden; }

